<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youkeda.vhr2.mapper.EmployeeMapper">
    <resultMap id="BaseResultMap" type="com.youkeda.vhr2.model.Employee">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="CHAR"/>
        <result column="birthday" property="birthday" jdbcType="DATE"/>
        <result column="idCard" property="idCard" jdbcType="CHAR"/>
        <result column="wedlock" property="wedlock" jdbcType="CHAR"/>
        <result column="nationId" property="nationId" jdbcType="INTEGER"/>
        <result column="nativePlace" property="nativePlace" jdbcType="VARCHAR"/>
        <result column="politicId" property="politicId" jdbcType="INTEGER"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="departmentId" property="departmentId" jdbcType="INTEGER"/>
        <result column="jobLevelId" property="jobLevelId" jdbcType="INTEGER"/>
        <result column="posId" property="posId" jdbcType="INTEGER"/>
        <result column="engageForm" property="engageForm" jdbcType="VARCHAR"/>
        <result column="tiptopDegree" property="tiptopDegree" jdbcType="CHAR"/>
        <result column="specialty" property="specialty" jdbcType="VARCHAR"/>
        <result column="school" property="school" jdbcType="VARCHAR"/>
        <result column="beginDate" property="beginDate" jdbcType="DATE"/>
        <result column="workState" property="workState" jdbcType="CHAR"/>
        <result column="workID" property="workID" jdbcType="CHAR"/>
        <result column="contractTerm" property="contractTerm" jdbcType="DOUBLE"/>
        <result column="conversionTime" property="conversionTime" jdbcType="DATE"/>
        <result column="notWorkDate" property="notWorkDate" jdbcType="DATE"/>
        <result column="beginContract" property="beginContract" jdbcType="DATE"/>
        <result column="endContract" property="endContract" jdbcType="DATE"/>
        <result column="workAge" property="workAge" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="AllEmployeeInfo" type="com.youkeda.vhr2.model.Employee" extends="BaseResultMap">
        <association property="nation" javaType="com.youkeda.vhr2.model.Nation">
            <id column="nid" property="id"/>
            <result column="nname" property="name"/>
        </association>
        <association property="politicsstatus" javaType="com.youkeda.vhr2.model.PoliticsStatus">
            <id column="pid" property="id"/>
            <result column="pname" property="name"/>
        </association>
        <association property="department" javaType="com.youkeda.vhr2.model.Department">
            <id column="did" property="id"/>
            <result column="dname" property="name"/>
        </association>
        <association property="jobLevel" javaType="com.youkeda.vhr2.model.JobLevel">
            <id column="jid" property="id"/>
            <result column="jname" property="name"/>
        </association>
        <association property="position" javaType="com.youkeda.vhr2.model.Position">
            <id column="posid" property="id"/>
            <result column="posname" property="name"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, gender, birthday, idCard, wedlock, nationId, nativePlace, politicId, email,
        phone, address, departmentId, jobLevelId, posId, engageForm, tiptopDegree, specialty,
        school, beginDate, workState, workID, contractTerm, conversionTime, notWorkDate,
        beginContract, endContract, workAge
    </sql>
    <select id="maxWorkID" resultType="java.lang.Integer">
        select max(workID) from employee
    </select>

    <resultMap id="EmployeeWithSalary" type="com.youkeda.vhr2.model.Employee" extends="BaseResultMap">
        <association property="salary" javaType="com.youkeda.vhr2.model.Salary">
            <id column="sid" property="id" jdbcType="INTEGER"/>
            <result column="sbasicSalary" property="basicSalary" jdbcType="INTEGER"/>
            <result column="sbonus" property="bonus" jdbcType="INTEGER"/>
            <result column="slunchSalary" property="lunchSalary" jdbcType="INTEGER"/>
            <result column="strafficSalary" property="trafficSalary" jdbcType="INTEGER"/>
            <result column="sallSalary" property="allSalary" jdbcType="INTEGER"/>
            <result column="spensionBase" property="pensionBase" jdbcType="INTEGER"/>
            <result column="spensionPer" property="pensionPer" jdbcType="REAL"/>
            <result column="screateDate" property="createDate" jdbcType="TIMESTAMP"/>
            <result column="smedicalBase" property="medicalBase" jdbcType="INTEGER"/>
            <result column="smedicalPer" property="medicalPer" jdbcType="REAL"/>
            <result column="saccumulationFundBase" property="accumulationFundBase" jdbcType="INTEGER"/>
            <result column="saccumulationFundPer" property="accumulationFundPer" jdbcType="REAL"/>
            <result column="sname" property="name" jdbcType="VARCHAR"/>
        </association>
        <association property="department" javaType="com.youkeda.vhr2.model.Department">
            <result column="dname" property="name"/>
        </association>
    </resultMap>

    <select id="getEmployeeByPageWithSalary" resultMap="EmployeeWithSalary">
        SELECT e.*,
        d.`name` AS dname
        ,s.`id` AS sid,
        s.`accumulationFundBase` AS saccumulationFundBase,
        s.`accumulationFundPer` AS saccumulationFundPer,
        s.`allSalary` AS sallSalary,
        s.`basicSalary` AS sbasicSalary,
        s.`bonus` AS sbonus,
        s.`createDate` AS screateDate,
        s.`lunchSalary` AS slunchSalary,
        s.`medicalBase` AS smedicalBase,
        s.`medicalPer` AS smedicalPer,
        s.`name` AS sname,
        s.`pensionBase` ASspensionBase,
        s.`pensionPer` AS spensionPer,
        s.`trafficSalary` AS strafficSalary
        FROM employee e
        LEFT JOIN empsalary es
        ON e.`id`=es.`eid`
        LEFT JOIN salary s
        ON es.`sid`=s.`id`
        LEFT JOIN department d
        ON e.`departmentId`=d.`id`
        order by e.id
        <if test="page !=null and size !=null">
            limit #{page},#{size}
        </if>
    </select>

</mapper>